{% extends 'base.html.twig' %}
{% block body %}
    <h3>My Home!</h3>
    <p>Let's Start it!</p>
    
    {{ data }}
    
    <ul>
        <li><a href="/home">home</a></li>
        <li><a href="/teams">Teams</a></li>
    </ul>
    
{% endblock %}